.App{
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: rgb(242, 241, 245);
    color: black;
    text-align: center;

    margin: 100px 400px 0 400px;
    border: rgb(122, 82, 155) solid 3px;
    border-radius: 10px;
    
}
.displayMega{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   text-align: center;

   font-weight: bolder;
}
input{
    width: 40px;
    border: 1px #000000 solid;
}

button{
    margin: 20px;
    border: rgb(122, 82, 155) 2px solid;
    border-radius: 3px;
    font-weight: bolder;
    background-color: rgb(131, 112, 190);
}
button:active{
    background-color: rgb(100, 57, 180);
}